*:focus {
  outline: none !important; }

.slice-int-mod-cont {
  position: relative;
  background: #fff;
  display: block;
  transition: height 300ms ease;
  font-family: "HPSimplifiedLight", "Arial";
  overflow: hidden; }
  .slice-int-mod-cont.opened {
    z-index: 200; }
    .slice-int-mod-cont.opened .slice-stage {
      position: initial;
      display: inline;
      width: 100%;
      margin: 0 auto;
      transition: all 300ms ease; }

.slice-opened-bg {
  opacity: 0;
  background: #ffffff;
  transition: opacity 300ms ease-in-out;
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }
  .slice-opened-bg.opened {
    opacity: 1;
    z-index: 100;
    overflow: hidden;
    height: 100%; }

.overlay-lock {
  overflow: hidden; }

#slice-module-x2 .slice-white-overlay {
  background-color: #ffffff;
  position: absolute;
  -webkit-transition: opacity 300ms linear, z-index 500ms step-start;
  -moz-transition: opacity 300ms linear, z-index 500ms step-start;
  -ms-transition: opacity 300ms linear, z-index 500ms step-start;
  -o-transition: opacity 300ms linear, z-index 500ms step-start;
  transition: opacity 300ms linear, z-index 500ms step-start;
  z-index: 50000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1; }
#slice-module-x2 .slice-no-scroll, #slice-module-x2 .slice-mobile-no-scroll {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1000; }
#slice-module-x2 .anim {
  -webkit-transition: opacity 300ms linear, margin 300ms linear, z-index 500ms step-start;
  -moz-transition: opacity 300ms linear, margin 300ms linear, z-index 500ms step-start;
  -ms-transition: opacity 300ms linear, margin 300ms linear, z-index 500ms step-start;
  -o-transition: opacity 300ms linear, margin 300ms linear, z-index 500ms step-start;
  transition: opacity 300ms linear, margin 300ms linear, z-index 500ms step-start; }
.ghost {
  opacity: 0 !important;
  z-index: -50 !important;
  -webkit-transition: opacity 300ms linear, z-index 500ms step-end;
  -moz-transition: opacity 300ms linear, z-index 500ms step-end;
  -ms-transition: opacity 300ms linear, z-index 500ms step-end;
  -o-transition: opacity 300ms linear, z-index 500ms step-end;
  transition: opacity 300ms linear, z-index 500ms step-end; }
#slice-module-x2 .slice-int-mod {
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  max-height: 720px;
  overflow: hidden;
  position: relative;
  color: #fff; }
#slice-module-x2 .slice-stage {
  width: 100%;
  z-index: 50; }
  #slice-module-x2 .slice-stage img {
    width: 100%;
    height: auto; }
#slice-module-x2 .slice-int-mod-cont .slice-copy {
  position: absolute;
  z-index: 4000;
  padding: 0;
  margin: 0 auto;
  display: block;
  transition: opacity 300ms ease, top 300ms ease, z-index 300ms ease 300ms;
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0; }

.slice-int-mod-cont .slice-copy.inner {
  pointer-events: none;
  background-color: transparent; }
  .slice-int-mod-cont .slice-copy.inner .slice-zoom {
    color: #0096D6;
    pointer-events: auto; }
.slice-int-mod-cont .slice-copy h2 {
  color: #0096D6;
  margin-bottom: 2vw;
  font-weight: normal;
  font-size: 3vw;
  line-height: 4vw; }
.slice-int-mod-cont .slice-copy h3 {
  font-weight: normal; }
.slice-int-mod-cont .slice-copy.inner p.text-block {
  margin-bottom: 7vw;
  font-size: 1.25vw;
  line-height: 2.15vw; }
.slice-int-mod-cont .slice-copy-cont {
  position: absolute;
  width: 100%; }
.slice-int-mod-cont a.slice-zoom {
  position: absolute;
  font-weight: bold;
  /*text-shadow: 1px 1px 0 rgba(255,255,255,.5);*/ }
.slice-int-mod-cont .slice-copy-intro {
  transition: none;
  /*background-image: url('../img/main/img-00000.jpg');*/
  background-size: cover;
  background-position: center; }
  .slice-int-mod-cont .slice-copy-intro .slice-copy-cont {
    max-width: 60vw;
    left: 6vw;
    top: 6vw;
    font-size: 1.5vw;
    line-height: 1.85vw; }
    .slice-int-mod-cont .slice-copy-intro .slice-copy-cont a {
      margin-top: 10vw;
      padding: 1vw 4vw; }
      .slice-int-mod-cont .slice-copy-intro .slice-copy-cont a > span {
        font-size: 1.25vw; }
  .slice-int-mod-cont .slice-copy-intro h2 {
    color: #222222;
    margin-bottom: 2%; }
.slice-int-mod-cont .slice-copy-0 .slice-copy-cont {
  max-width: 32vw;
  left: 10vw;
  top: 7.5vw; }
.slice-int-mod-cont .slice-copy-0 h3 {
  font-size: 2vw;
  margin-bottom: 2.5vw; }
.slice-int-mod-cont .slice-copy-0 .slice-onward {
  pointer-events: auto; }
.slice-int-mod-cont .slice-copy-1 .slice-copy-cont {
  max-width: 50vw;
  left: 25vw;
  top: 13vw; }
.slice-int-mod-cont .slice-copy-2 .slice-copy-cont {
  max-width: 28vw;
  left: 20vw;
  top: 24vw; }
.slice-int-mod-cont .slice-copy-3 .slice-copy-cont {
  max-width: 28vw;
  right: 21vw;
  top: 13vw; }
.slice-int-mod-cont .slice-copy .slice-zoom {
  width: 19.5vw;
  height: 19.5vw;
  display: block;
  text-align: center;
  border-radius: 19.5vw; }
.slice-int-mod-cont .slice-copy-1 .slice-zoom {
  top: 74%;
  left: -2.5%; }
.slice-int-mod-cont .slice-zoom .slice-deeper-look {
  margin-top: 3.5vw;
  font-size: 1vw; }
.slice-int-mod-cont .slice-copy-1-0 .slice-copy-cont {
  max-width: 40vw;
  left: 55vw;
  top: 36vw; }
.slice-int-mod-cont .slice-copy-4 .slice-copy-cont {
  max-width: 31vw;
  left: 38vw;
  top: 25vw; }
.slice-int-mod-cont .slice-copy-4 .slice-zoom {
  top: 27%;
  left: 51.25%; }
.slice-int-mod-cont .slice-copy-4-1 .slice-copy-cont {
  max-width: 32vw;
  left: 12vw;
  top: 14vw; }
.slice-int-mod-cont .slice-copy-5 .slice-copy-cont {
  max-width: 31vw;
  left: 52vw;
  top: 20vw; }
.slice-int-mod-cont .slice-copy-5 .slice-deeper-look {
  margin-top: 13.5vw; }
.slice-int-mod-cont .slice-copy-5 .slice-zoom {
  top: 62.5%;
  left: 33.5%; }
.slice-int-mod-cont .slice-copy-5-0 .slice-copy-cont {
  max-width: 28vw;
  left: 60vw;
  text-align: right; }
.slice-int-mod-cont .slice-copy-5-1 .slice-copy-cont, .slice-int-mod-cont .slice-copy-5-2 .slice-copy-cont, .slice-int-mod-cont .slice-copy-5-3 .slice-copy-cont, .slice-int-mod-cont .slice-copy-5-4 .slice-copy-cont {
  max-width: 36vw;
  left: 52vw;
  text-align: right; }
.slice-int-mod-cont .slice-copy-5-1 .slice-copy-cont {
  width: 34vw;
  left: 54vw; }
.slice-int-mod-cont .slice-copy-5-0 .slice-copy-cont h2, .slice-int-mod-cont .slice-copy-5-1 .slice-copy-cont h2, .slice-int-mod-cont .slice-copy-5-2 .slice-copy-cont h2, .slice-int-mod-cont .slice-copy-5-3 .slice-copy-cont h2, .slice-int-mod-cont .slice-copy-5-4 .slice-copy-cont h2 {
  font-size: 2.25vw;
  margin-bottom: .75vw; }
.slice-int-mod-cont .slice-copy-5-0 .slice-copy-cont hr, .slice-int-mod-cont .slice-copy-5-1 .slice-copy-cont hr, .slice-int-mod-cont .slice-copy-5-2 .slice-copy-cont hr, .slice-int-mod-cont .slice-copy-5-3 .slice-copy-cont hr, .slice-int-mod-cont .slice-copy-5-4 .slice-copy-cont hr {
  width: 100%;
  border: none;
  float: right;
  display: block;
  border-top: 2px solid #627077;
  padding-bottom: .75vw;
  -webkit-transition: width 500ms ease-in-out 300ms;
  -moz-transition: width 500ms ease-in-out 300ms;
  -ms-transition: width 500ms ease-in-out 300ms;
  -o-transition: width 500ms ease-in-out 300ms;
  transition: width 500ms ease-in-out 300ms;
  clear-after: both; }
.slice-int-mod-cont .slice-copy-5-0 .ghost > hr, .slice-int-mod-cont .slice-copy-5-1 .ghost > hr, .slice-int-mod-cont .slice-copy-5-2 .ghost > hr, .slice-int-mod-cont .slice-copy-5-3 .ghost > hr, .slice-int-mod-cont .slice-copy-5-4 .ghost > hr {
  width: 0; }
.slice-int-mod-cont .slice-copy-5-0 .slice-copy-cont p {
  max-width: 22vw;
  float: right; }
.slice-int-mod-cont .slice-copy-5-1 .slice-copy-cont p, .slice-int-mod-cont .slice-copy-5-2 .slice-copy-cont p, .slice-int-mod-cont .slice-copy-5-3 .slice-copy-cont p, .slice-int-mod-cont .slice-copy-5-4 .slice-copy-cont p {
  max-width: 30vw;
  float: right; }
.slice-int-mod-cont .slice-copy-5-0 .slice-copy-cont {
  top: 24vw; }
.slice-int-mod-cont .slice-copy-5-1 .slice-copy-cont {
  top: 16vw; }
.slice-int-mod-cont .slice-copy-5-2 .slice-copy-cont {
  top: 21vw; }
.slice-int-mod-cont .slice-copy-5-3 .slice-copy-cont {
  top: 28vw; }
.slice-int-mod-cont .slice-copy-6 .slice-copy-cont {
  max-width: 26vw;
  left: 8vw;
  top: 11vw; }
.slice-int-mod-cont .slice-copy-6 .slice-deeper-look {
    margin-top: 13vw; }
.slice-int-mod-cont .slice-copy-6 .slice-zoom {
  top: 81.5%;
  left: 222.5%; }
.slice-int-mod-cont .slice-copy-6-0 .slice-copy-cont {
  max-width: 39vw;
  left: 50vw;
  top: 25vw; }
.slice-int-mod-cont .slice-copy-7 .slice-copy-cont {
  max-width: 27vw;
  left: 58vw;
  top: 11vw; }
.slice-int-mod-cont .slice-copy-8 .slice-copy-cont {
  max-width: 30vw;
  left: 52vw;
  top: 11vw; }
.slice-int-mod-cont .slice-copy-7 h2, .slice-int-mod-cont .slice-copy-8 h2 {
  white-space: nowrap; }
.slice-int-mod-cont .slice-copy-7 ul, .slice-int-mod-cont .slice-copy-8 ul {
  margin-left: 1.25vw; }
.slice-int-mod-cont .slice-copy-7 li, .slice-int-mod-cont .slice-copy-8 li {
  list-style: none;
  padding-bottom: 1vw;
  font-size: 1.15vw;
  line-height: 2.25vw; }
.slice-int-mod-cont li:before {
  content: '\2013\a0 ';
  margin-left: -1vw;
  margin-right: 0.25vw; }
.slice-int-mod-cont .slice-copy-9 h1 {
  top: 3vw;
  font-weight: normal;
  position: absolute;
  width: 100%; }
.slice-int-mod-cont .slice-copy-9 .slice-copy-cont {
  max-width: 32vw;
  top: 11vw;
  pointer-events: all}
.slice-int-mod-cont .slice-copy-9 .cont-left {
  left: 10vw; }
.slice-int-mod-cont .slice-copy-9 .cont-right {
  right: 15vw; }
.slice-int-mod-cont .slice-copy-9 .cont-bottom {
  top: 42vw;
  left: 36vw; }
.slice-int-mod-cont .slice-copy-9.inner h2 {
  font-size: 2.25vw;
  margin-bottom: 1vw; }
.slice-int-mod-cont .slice-copy-9.inner a {
  margin-top: 0;
  margin-bottom: 1vw;
  padding: 1vw 3vw;
  font-size: 1.35vw; }
.slice-int-mod-cont .slice-copy-9.inner p.text-block {
  margin-top: 0;
  margin-bottom: 1vw;
  color: #0096D6;
  font-size: 1.5vw; }
#slice-module-x2 #slice-image-reel {
  width: auto;
  height: auto; }

.slice-int-mod-cont .slice-buttons {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10vw;
  padding-right: 1vw;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  justify-content: center;
  z-index: 500;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  color: #0096D6;
  cursor: url("icon.ico"), ns-resize;
  pointer-events: none; }
  .slice-int-mod-cont .slice-buttons a {
    pointer-events: auto; }
    .slice-int-mod-cont .slice-buttons a:after {
      pointer-events: auto;
      left: 50%;
      top: 50%;
      margin-top: 10px;
      content: '';
      width: .75vw;
      height: .75vw;
      display: inline-block;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      background-color: #989898;
      background-opacity: 1;
      border-radius: 50%;
      border: 1px solid transparent;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: width .3s, height .3s, background .3s, border .3s;
      transition: width .3s, height .3s, background .3s, border .3s;
      transform-origin: center center;
      -webkit-transform-origin: center center;
      color: #0096D6; }
    .slice-int-mod-cont .slice-buttons a:hover:after {
      height: 14px;
      width: 14px; }
    .slice-int-mod-cont .slice-buttons a span {
      display: block;
      left: 3vw;
      position: absolute;
      opacity: 0;
      -webkit-transition: opacity .3s;
      transition: opacity .3s;
      width: 80px;
      color: #0096D6;
      white-space: nowrap;
      font-size: 1vw; }
    .slice-int-mod-cont .slice-buttons a.selected span {
      opacity: 1; }
.slice-int-mod-cont .slice-marker {
  color: #0096D6;
  width: 100%;
  height: 1.5vw;
  display: block;
  cursor: pointer;
  z-index: 200;
  position: relative;
  padding: 6px 6px 6px 1.75vw; }
.slice-int-mod-cont .slice-buttons a.selected:after {
  width: 1vw;
  height: 1vw;
  background: rgba(255, 255, 255, 0);
  border: 1px solid;
  border-color: #0096D6; }
.slice-int-mod-cont .slice-marker-start {
  margin-left: -.85rem; }
  .slice-int-mod-cont .slice-marker-start span {
    margin: 0; }
.slice-int-mod-cont .slice-marker-last {
  margin-left: -.85rem; }

.close-slice {
  position: absolute;
  z-index: 600;
  height: 2.5vw;
  width: 2.5vw;
  text-align: center;
  top: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  /*background-image: url(./close-overlay.png);*/
  background-size: 2.5vw 2.5vw;
  background-position: center; }
  .close-slice:hover {
    text-decoration: none;
     }
  .close-slice:visited {
    color: inherit; }

.slice-int-mod-cont .slice-scroll-on {
  z-index: 600;
  height: 2.5vw;
  width: 2.5vw;
  margin: 0 auto;
  background-image: url(./scroll-on.png);
  background-size: 2.5vw 2.5vw;
  background-position: center; }
.slice-int-mod-cont .slice-zoom-reel {
  position: absolute !important;
  top: 0; }

#slice-module-x2 .reel-preloader {
  /*display: none !important;*/
  background: #0096D6 !important; }

@media all and (min-width: 801px) {
  .slice-int-mod-cont .slice-mobile-stage {
    display: none; } }
@media all and (max-width: 800px) {
  a {
    color: #767676;
    text-decoration: none; }
    a:link, a:hover, a:active, a:visited {
      color: #767676;
      text-decoration: none; }

  .responsive br {
    display: block; }

  #slice-module-x2 .button.transparent {
    background: #ffffff;
    color: #0096D6; }
    #slice-module-x2 .button.transparent:link, #slice-module-x2 .button.transparent:hover span, #slice-module-x2 .button.transparent:link:hover span {
      background: #ffffff;
      color: #0096D6; }
  #slice-module-x2 .slice-no-scroll.desktop {
    display: none; }

  #slice-module-x2 .slice-int-mod-cont .slice-stage, #slice-module-x2 .slice-int-mod-cont.opened .slice-stage, #slice-module-x2 .slice-int-mod-cont .slice-copy {
    display: none; }
  .slice-int-mod-cont .slice-slide-copy p, .slice-int-mod-cont .slice-slide-copy li {
    font-size: 5vw;
    line-height: 6.5vw; }

  .slice-fnf-int-mod-cont .slice-slide-copy a {
    font-size: 5vw;
    line-height: 6.5vw; }

  .slice-int-mod-cont .slice-mobile-stage {
    height: 100vw;
    max-height: 100%; }
  .slice-int-mod-cont.opened .slice-mobile-stage {
    height: 100%;
    overflow: hidden; }

  .close-slice {
    height: 5vw;
    width: 5vw;
    background-size: 5vw 5vw;
    z-index: 15000;
    top: 4vw;
    right: 4vw; }

  .bars-shown .close-slice {
    top: 12vw; }

  .slice-int-mod-cont .slice-mobile-buttons {
    position: absolute;
    left: 0;
    bottom: 5vh;
    height: 5vw;
    width: 100%;
    padding-right: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: center;
    z-index: 15000;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    color: #0096D6;
    cursor: url("icon.ico"), ns-resize;
    pointer-events: none; }

  #slice-module-x2 .bars-shown .slice-mobile-buttons {
    bottom: 18vw; }

  .slice-int-mod-cont .slice-mobile-buttons a {
    pointer-events: auto; }
    .slice-int-mod-cont .slice-mobile-buttons a:after {
      pointer-events: auto;
      left: 50%;
      top: 50%;
      margin-top: 10px;
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      background-color: #0096D6;
      background-opacity: .75;
      border-radius: 50%;
      border: 1px solid transparent;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: width .3s, height .3s, background .3s, border .3s;
      transition: width .3s, height .3s, background .3s, border .3s;
      transform-origin: center center;
      -webkit-transform-origin: center center;
      color: #0096D6; }
    .slice-int-mod-cont .slice-mobile-buttons a span {
      display: none;
      left: 45px;
      position: absolute;
      opacity: 0;
      -webkit-transition: opacity .3s;
      transition: opacity .3s;
      width: 40px;
      color: #0096D6; }
    .slice-int-mod-cont .slice-mobile-buttons a.selected span {
      opacity: 1; }
  .slice-int-mod-cont .slice-mobile-buttons .slice-marker {
    color: #0096D6;
    width: 10px;
    height: 10px;
    display: block;
    cursor: pointer;
    padding: 6px; }
  .slice-int-mod-cont .slice-mobile-buttons a.selected:after {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid;
    border-color: #0096D6; }
  .slice-int-mod-cont .slice-mobile-buttons .slice-marker-start {
    margin-left: -.85rem; }
    .slice-int-mod-cont .slice-mobile-buttons .slice-marker-start span {
      margin: 0; }
  .slice-int-mod-cont .slice-mobile-buttons .slice-marker-last {
    margin-left: -.85rem; }
  .slice-int-mod-cont .slice-slide {
    position: absolute;
    padding: 0;
    margin: 0 auto;
    display: block;
    transition: transform 500ms ease, padding 300ms ease;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 4vw 8vw 0px rgba(0, 0, 0, 0.15);
    overflow: hidden; }
  .slice-int-mod-cont .slice-slide-intro {
    /*background-image: url(../img/mobile/1_premodule.jpg);*/
    height: 100vw;
    z-index: 8000; }
  .slice-int-mod-cont .slice-slide-0 {
    /*background-image: url(../img/mobile/2_overview.jpg);*/
    z-index: 10000; }
    .slice-int-mod-cont .slice-slide-0 .slice-onward {
      position: absolute;
      bottom: 12vh;
      width: 100vw;
      text-align: center;
      margin-top: 0;
      display: block;
      height: 25vw;
      color: #007DBA; }
      .slice-int-mod-cont .slice-slide-0 .slice-onward h3 {
        margin: 0 5vw; }

  #slice-module-x2 .slice-slide-0 .anim.ghost {
    margin-top: 10vw !important; }

  .slice-int-mod-cont .slice-slide-0.show-copy > h2 {
    opacity: 0;
    margin-top: -10vw; }
  .slice-int-mod-cont .slice-slide-0.show-copy > a h3, .slice-int-mod-cont .slice-slide-0.show-copy > a div {
    opacity: 0;
    margin-top: -10vw; }
  .slice-int-mod-cont .slice-scroll-on {
    height: 7.5vw;
    width: 7.5vw;
    margin: 0 auto 5vw;
    background-size: 7.5vw 7.5vw;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV"; }
  .slice-int-mod-cont .slice-slide-1 {
    /*background-image: url(../img/mobile/3_design.jpg);*/
    z-index: 9900; }
  .slice-int-mod-cont .slice-slide-2 {
    /*background-image: url(../img/mobile/4_connectivity.jpg);*/
    z-index: 9800; }
  .slice-int-mod-cont .slice-slide-3 {
    /*background-image: url(../img/mobile/5_versatility.jpg);*/
    z-index: 9700; }
  .slice-int-mod-cont .slice-slide-4 {
    /*background-image: url(../img/mobile/6_wireless_charging.jpg);*/
    z-index: 9600; }
  .slice-int-mod-cont .slice-slide-5 {
    /*background-image: url(../img/mobile/7_communications.jpg);*/
    z-index: 9500; }
  .slice-int-mod-cont .slice-slide-6 {
    /*background-image: url(../img/mobile/8_modules.jpg);*/
    z-index: 9400; }
  .slice-int-mod-cont .slice-slide-7 {
    /*background-image: url(../img/mobile/9_wireless_connections.jpg);*/
    z-index: 9300; }
  .slice-int-mod-cont .slice-slide-8 {
    /*background-image: url(../img/mobile/10_odd_module.jpg);*/
    z-index: 9200; }
  .slice-int-mod-cont .slice-slide-9 {
    /*background-image: url(../img/mobile/11_speaker_module.jpg);*/
    z-index: 9100; }
  .slice-int-mod-cont .slice-slide-10 {
    /*background-image: url(../img/mobile/12_vesa_plate.jpg);*/
    z-index: 9000; }
  .slice-int-mod-cont .slice-slide-11 {
    /*background-image: url(../img/mobile/13_security.jpg);*/
    z-index: 8900; }
  .slice-int-mod-cont .slice-slide-12 {
    /*background-image: url(../img/mobile/14_fingertip.jpg);*/
    z-index: 8800; }
  .slice-int-mod-cont .slice-slide-13 {
    /*background-image: url(../img/mobile/15_hp_slice.jpg);*/
    z-index: 8700; }
  .slice-int-mod-cont .slice-slide-14 {
    /*background-image: url(../img/mobile/16_hp_slice_for_meeting_rooms.jpg);*/
    z-index: 8600; }
  .slice-int-mod-cont .slice-copy-intro {
    opacity: 1; }
  .slice-int-mod-cont .slice-slide-intro .slice-copy-cont {
    max-width: 60vw;
    left: 10vw;
    top: 12vw; }
  .slice-int-mod-cont .slice-slide:not(.slice-slide-intro) h2 {
    position: absolute;
    top: 8vw;
    text-align: center;
    z-index: 20000;
    width: 100vw;
    line-height: 1.4; }

  #slice-module-x2 .bars-shown .slice-slide:not(.slice-slide-intro) h2 {
    top: 16vw; }

  .slice-int-mod-cont .slice-slide:not(.slice-slide-intro) h2:not(.anim) {
    font-size: 7.5vw;
    line-height: 8.5vw;
    color: #0096D6; }
  .slice-int-mod-cont .slice-slide h2 {
    margin-bottom: 4vw;
    font-size: 4vw;
    line-height: 6vw;
    z-index: 100000; }
  .slice-int-mod-cont .slice-slide .slice-slide-copy {
    transform: translate3d(0, 110vh, 0);
    background-color: rgba(255, 255, 255, 0.85);
    height: 100vh;
    padding: 22vw 8vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-transition: transform 500ms ease;
    -moz-transition: transform 500ms ease;
    -ms-transition: transform 500ms ease;
    -o-transition: transform 500ms ease;
    transition: transform 500ms ease;
    text-align: center;
    position: absolute;
    z-index: 50;
    width: 100%;
    box-sizing: border-box; }
    .slice-int-mod-cont .slice-slide .slice-slide-copy h2 {
      width: 80vw; }
  .slice-int-mod-cont .slice-slide-1 .slice-slide-copy, .slice-int-mod-cont .slice-slide-4 .slice-slide-copy, .slice-int-mod-cont .slice-slide-5 .slice-slide-copy, .slice-int-mod-cont .slice-slide-14 .slice-slide-copy {
    padding-top: 30vw; }
  .slice-int-mod-cont .slice-slide .slice-slide-copy p:not(:first-of-type) {
    padding-top: 20px; }
  .slice-int-mod-cont .slice-slide ul {
    padding-left: 4vw;
    text-align: left;
    max-width: 55vw;
    margin-bottom: 10vw; }
  .slice-int-mod-cont .slice-slide.slice-slide-14 ul {
    max-width: 45vw; }
  .slice-int-mod-cont .slice-slide li {
    padding-top: 4vw;
    font-size: 4.5vw;
    line-height: 5.5vw; }
  .slice-int-mod-cont li:before {
    margin-left: -3vw;
    margin-right: .5vw; }
  .slice-int-mod-cont .slice-slide:not(.show-copy) {
    transition-delay: 100ms; }
  .slice-int-mod-cont .slice-slide.show-copy .slice-slide-copy {
    transform: translate3d(0, 0, 0) !important; }
  .slice-int-mod-cont .slice-slide.show-copy h2:not(.anim) {
    opacity: 1;
    -webkit-transition: transform 300ms ease, opacity 150ms ease;
    -moz-transition: transform 300ms ease, opacity 150ms ease;
    -ms-transition: transform 300ms ease, opacity 150ms ease;
    -o-transition: transform 300ms ease, opacity 150ms ease;
    transition: transform 300ms ease, opacity 150ms ease; }
  .slice-int-mod-cont .slice-slide.show-copy.high-copy {
    padding-top: 20vh;
    box-shadow: none;
    transition: transform 500ms ease, padding 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }
    .slice-int-mod-cont .slice-slide.show-copy.high-copy h2 {
      opacity: 0;
      transform: translate3d(0, -10vh, 0) !important; }
    .slice-int-mod-cont .slice-slide.show-copy.high-copy .slice-slide-copy {
      transform: translate3d(0, -120vh, 0) !important; }
  .slice-int-mod-cont .slice-slide .buy-now-copy {
    transform: translate3d(0, -50vh, 0) !important;
    opacity: 0;
    position: absolute;
    width: 100vw;
    text-align: center;
    transition: transform 1000ms ease, opacity 500ms ease; }
  .slice-int-mod-cont .slice-slide.show-copy.high-copy .buy-now-copy {
    transform: translate3d(0, -15vh, 0) !important;
    opacity: 1; } 
    .slice-opened-bg {
      will-change: opacity; }
    .slice-white-overlay, .ghost {
      will-change: opacity, z-index; }
    .anim {
      will-change: opacity, margin, z-index; }
    .slice-slide {
      will-change: transform, padding; }
    .show-copy, .buy-now-copy {
      will-change: transform, opacity; }
    .slice-slide-copy {
      will-change: transform; }
} 

@media (orientation: landscape) and (max-width: 800px) {
  .slice-int-mod-cont:not(.opened) .slice-mobile-stage {
    max-height: 80vh; }
  .slice-int-mod-cont .slice-slide-intro {
    background-size: 75vw;
    background-position: right -13vw;
    height: 100vh; }
    .slice-int-mod-cont .slice-slide-intro .slice-copy-cont {
      max-width: 60vw;
      left: 20vh;
      top: 15vh;
      font-size: 5vh;
      line-height: 5.5vh; }
  .slice-int-mod-cont .slice-slide:not(.slice-slide-intro) {
    background-size: 74vh;
    background-position: center 13vh; }
    .slice-int-mod-cont .slice-slide:not(.slice-slide-intro) h2 {
      top: 30px; }
      .slice-int-mod-cont .slice-slide:not(.slice-slide-intro) h2:not(.anim) {
        font-size: 8vh;
        top: 20px; }

  #slice-module-x2 .bars-shown .slice-slide:not(.slice-slide-intro) h2 {
    top: 50px; }
    #slice-module-x2 .bars-shown .slice-slide:not(.slice-slide-intro) h2:not(.anim) {
      top: 40px; }

  .slice-int-mod-cont .slice-slide h2 {
    font-size: 5vh; }
  .slice-int-mod-cont .slice-slide-0 .slice-onward {
    bottom: 30px;
    width: 100vw;
    text-align: center;
    margin-top: 0;
    display: block;
    height: 15vh; }
  .slice-int-mod-cont .slice-scroll-on {
    display: none; }
  .slice-int-mod-cont .slice-slide .slice-slide-copy {
    padding: 22vw 8vw; }
  .slice-int-mod-cont .slice-slide.show-copy.high-copy {
    padding-left: 60vh; }
    .slice-int-mod-cont .slice-slide.show-copy.high-copy .buy-now-copy {
      transform: translate3d(0, 0, 0) !important;
      left: -40vh; }

  #slice-module-x2 .bars-shown .slice-mobile-buttons {
    bottom: 40px; }
  #slice-module-x2 .bars-shown .close-slice {
    top: 40px; } }
body.touch-device a {
  color: #767676;
  text-decoration: none; }
  body.touch-device a:link, body.touch-device a:hover, body.touch-device a:active, body.touch-device a:visited {
    color: #767676;
    text-decoration: none; }
body.touch-device .responsive br {
  display: block; }
body.touch-device #slice-module-x2 .button.transparent {
    background: #ffffff;
    color: #0096D6;
    padding: 2vw 6vw;
    margin: 5vw 0; }
  body.touch-device #slice-module-x2 .button.transparent:link, body.touch-device #slice-module-x2 .button.transparent:hover span, body.touch-device #slice-module-x2 .button.transparent:link:hover span {
    background: #ffffff;
    color: #0096D6; }
body.touch-device #slice-module-x2 .slice-no-scroll.desktop {
  display: none; }
body.touch-device .slice-int-mod-cont .slice-stage, body.touch-device .slice-int-mod-cont.opened .slice-stage, body.touch-device .slice-int-mod-cont .slice-copy {
  display: none; }
body.touch-device .slice-int-mod-cont .slice-slide-copy p, body.touch-device .slice-int-mod-cont .slice-slide-copy li {
  font-size: 5vw;
  line-height: 6.5vw; }
@media (orientation: landscape) and (max-width: 1024px) {
  body.touch-device .slice-int-mod-cont .slice-slide-copy p, body.touch-device .slice-int-mod-cont .slice-slide-copy li {
    font-size: 3vw;
    line-height: 3.5vw;
  }    
}  
body.touch-device .slice-fnf-int-mod-cont .slice-slide-copy a {
  font-size: 5vw;
  line-height: 6.5vw; }
body.touch-device .slice-int-mod-cont .slice-mobile-stage {
  display: block;
  height: 100vw;
  max-height: 100%; }
body.touch-device .slice-int-mod-cont.opened .slice-mobile-stage {
  height: 100%;
  overflow: hidden; }
body.touch-device .close-slice {
  height: 5vw;
  width: 5vw;
  background-size: cover;
  z-index: 15000;
  top: 4vw;
  right: 4vw;
  background-repeat: no-repeat;}
body.touch-device .bars-shown .close-slice {
  top: 12vw; }
body.touch-device .slice-int-mod-cont .slice-mobile-buttons {
  position: absolute;
  left: 0;
  bottom: 5vh;
  height: 5vw;
  width: 100%;
  padding-right: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  justify-content: center;
  z-index: 15000;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  color: #0096D6;
  cursor: url("icon.ico"), ns-resize;
  pointer-events: none; }
body.touch-device #slice-module-x2 .bars-shown .slice-mobile-buttons {
  bottom: 18vw; }
body.touch-device .slice-int-mod-cont .slice-mobile-buttons a {
  pointer-events: auto; }
  body.touch-device .slice-int-mod-cont .slice-mobile-buttons a:after {
    pointer-events: auto;
    left: 50%;
    top: 50%;
    margin-top: 10px;
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    background-color: #0096D6;
    background-opacity: .75;
    border-radius: 50%;
    border: 1px solid transparent;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .3s, height .3s, background .3s, border .3s;
    transition: width .3s, height .3s, background .3s, border .3s;
    transform-origin: center center;
    -webkit-transform-origin: center center;
    color: #0096D6; }
  body.touch-device .slice-int-mod-cont .slice-mobile-buttons a span {
    display: none;
    left: 45px;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    width: 40px;
    color: #0096D6; }
  body.touch-device .slice-int-mod-cont .slice-mobile-buttons a.selected span {
    opacity: 1; }
body.touch-device .slice-int-mod-cont .slice-mobile-buttons .slice-marker {
  color: #0096D6;
  width: 10px;
  height: 10px;
  display: block;
  cursor: pointer;
  padding: 6px; }
  @media (max-width: 497px) {
    body.touch-device .slice-int-mod-cont .slice-mobile-buttons .slice-marker {
      padding: 5px; } }
body.touch-device .slice-int-mod-cont .slice-mobile-buttons a.selected:after {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid;
  border-color: #0096D6; }
body.touch-device .slice-int-mod-cont .slice-mobile-buttons .slice-marker-start {
  margin-left: -.85rem; }
  body.touch-device .slice-int-mod-cont .slice-mobile-buttons .slice-marker-start span {
    margin: 0; }
body.touch-device .slice-int-mod-cont .slice-mobile-buttons .slice-marker-last {
  margin-left: -.85rem; }
body.touch-device .slice-int-mod-cont .slice-slide {
  position: absolute;
  padding: 0;
  margin: 0 auto;
  display: block;
  transition: transform 500ms ease, padding 300ms ease;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: none;
  overflow: hidden; }
body.touch-device .slice-int-mod-cont .slice-slide-intro {
  /*background-image: url(../img/mobile/1_premodule.jpg);*/
  height: 100vw;
  z-index: 8000; }
body.touch-device .slice-int-mod-cont .slice-slide-0 {
  /*background-image: url(../img/mobile/2_overview.jpg);*/
  z-index: 10000; }
  body.touch-device .slice-int-mod-cont .slice-slide-0 .slice-onward {
    position: absolute;
    top: 65vh;
    width: 100vw;
    text-align: center;
    margin-top: 0;
    display: block;
    height: 25vw;
    color: #007DBA; }
    body.touch-device .slice-int-mod-cont .slice-slide-0 .slice-onward h3 {
      margin: 0 5vw; }
body.touch-device #slice-module-x2 .slice-slide-0 .anim.ghost {
  margin-top: 10vw !important; }
body.touch-device .slice-int-mod-cont .slice-slide-0.show-copy > h2 {
  opacity: 0;
  margin-top: -10vw; }
body.touch-device .slice-int-mod-cont .slice-slide-0.show-copy > a h3, body.touch-device .slice-int-mod-cont .slice-slide-0.show-copy > a div {
  opacity: 0;
  margin-top: -10vw; }
body.touch-device .slice-int-mod-cont .slice-scroll-on {
  height: 7.5vw;
  width: 7.5vw;
  margin: 0 auto 5vw;
  background-size: cover;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
  background-repeat:no-repeat;}
body.touch-device .slice-int-mod-cont .slice-slide-1 {
  /*background-image: url(../img/mobile/3_design.jpg);*/
  z-index: 9900; }
body.touch-device .slice-int-mod-cont .slice-slide-2 {
  /*background-image: url(../img/mobile/4_connectivity.jpg);*/
  z-index: 9800; }
body.touch-device .slice-int-mod-cont .slice-slide-3 {
  /*background-image: url(../img/mobile/5_versatility.jpg);*/
  z-index: 9700; }
body.touch-device .slice-int-mod-cont .slice-slide-4 {
  /*background-image: url(../img/mobile/6_wireless_charging.jpg);*/
  z-index: 9600; }
body.touch-device .slice-int-mod-cont .slice-slide-5 {
  /*background-image: url(../img/mobile/7_communications.jpg);*/
  z-index: 9500; }
body.touch-device .slice-int-mod-cont .slice-slide-6 {
  /*background-image: url(../img/mobile/8_modules.jpg);*/
  z-index: 9400; }
body.touch-device .slice-int-mod-cont .slice-slide-7 {
  /*background-image: url(../img/mobile/9_wireless_connections.jpg);*/
  z-index: 9300; }
body.touch-device .slice-int-mod-cont .slice-slide-8 {
  /*background-image: url(../img/mobile/10_odd_module.jpg);*/
  z-index: 9200; }
body.touch-device .slice-int-mod-cont .slice-slide-9 {
  /*background-image: url(../img/mobile/11_speaker_module.jpg);*/
  z-index: 9100; }
body.touch-device .slice-int-mod-cont .slice-slide-10 {
  /*background-image: url(../img/mobile/12_vesa_plate.jpg);*/
  z-index: 9000; }
body.touch-device .slice-int-mod-cont .slice-slide-11 {
  /*background-image: url(../img/mobile/13_security.jpg);*/
  z-index: 8900; }
body.touch-device .slice-int-mod-cont .slice-slide-12 {
  /*background-image: url(../img/mobile/14_fingertip.jpg);*/
  z-index: 8800; }
body.touch-device .slice-int-mod-cont .slice-slide-13 {
  /*background-image: url(../img/mobile/15_hp_slice.jpg);*/
  z-index: 8700; }
body.touch-device .slice-int-mod-cont .slice-slide-14 {
  /*background-image: url(../img/mobile/16_hp_slice_for_meeting_rooms.jpg);*/
  z-index: 8600; }
body.touch-device .slice-int-mod-cont .slice-copy-intro {
  opacity: 1; }
body.touch-device .slice-int-mod-cont .slice-slide-intro .slice-copy-cont {
  max-width: 60vw;
  left: 10vw;
  top: 12vw; }
body.touch-device .slice-int-mod-cont .slice-slide:not(.slice-slide-intro) h2 {
  position: absolute;
  top: 8vw;
  text-align: center;
  z-index: 20000;
  width: 100vw;
  line-height: 1.4; }
body.touch-device #slice-module-x2 .bars-shown .slice-slide:not(.slice-slide-intro) h2 {
  top: 16vw; }
body.touch-device .slice-int-mod-cont .slice-slide:not(.slice-slide-intro) h2:not(.anim) {
  font-size: 7.5vw;
  line-height: 8.5vw;
  color: #0096D6; }
body.touch-device .slice-int-mod-cont .slice-slide h2 {
  margin-bottom: 4vw;
  font-size: 4vw;
  line-height: 6vw;
  z-index: 100000; }
body.touch-device .slice-int-mod-cont .slice-slide .slice-slide-copy {
  transform: translate3d(0, 110vh, 0);
  background-color: rgba(255, 255, 255, 0.85);
  height: 100vh;
  padding: 22vw 8vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-transition: transform 500ms ease;
  -moz-transition: transform 500ms ease;
  -ms-transition: transform 500ms ease;
  -o-transition: transform 500ms ease;
  transition: transform 500ms ease;
  text-align: center;
  position: absolute;
  z-index: 50;
  width: 100%;
  box-sizing: border-box; }
  body.touch-device .slice-int-mod-cont .slice-slide .slice-slide-copy h2 {
    width: 80vw; }
body.touch-device .slice-int-mod-cont .slice-slide-1 .slice-slide-copy, body.touch-device .slice-int-mod-cont .slice-slide-4 .slice-slide-copy, body.touch-device .slice-int-mod-cont .slice-slide-5 .slice-slide-copy, body.touch-device .slice-int-mod-cont .slice-slide-14 .slice-slide-copy {
  padding-top: 30vw; }
body.touch-device .slice-int-mod-cont .slice-slide-0 {
    background-position: center 10vh;
    background-size: 100%}

body.touch-device .slice-int-mod-cont .slice-slide-15 {
    background-position: center 28vw;
    background-size: 92%}
body.touch-device .slice-int-mod-cont .slice-slide-15 h1,
body.touch-device .slice-int-mod-cont .slice-slide-15 .cont-slice-for-meetings,
body.touch-device .slice-int-mod-cont .slice-slide-15 .cont-slice,
body.touch-device .slice-int-mod-cont .slice-slide-15 .cont-cta {
    position: absolute;
    margin: 0 auto;
    width: 100%;}
body.touch-device .slice-int-mod-cont .slice-slide-15 .cont-slice-for-meetings,
body.touch-device .slice-int-mod-cont .slice-slide-15 .cont-slice {
    max-width:60vw;
    left: 20vw}
body.touch-device .slice-int-mod-cont .slice-slide-15 h1 {
    top: 5vw;
    font-size: 7.5vw;
    line-height:1.1;}
body.touch-device .slice-int-mod-cont .slice-slide-15 .cont-slice {
    top: 28vw;}
body.touch-device .slice-int-mod-cont .slice-slide-15 .cont-slice-for-meetings {
    top: 71vw;}
body.touch-device .slice-int-mod-cont .slice-slide.slice-slide-15 h2:not(.anim) {
    position: relative;
    top: 0;
    font-size: 4.15vw;
    text-align: left;
    line-height: 3.5vw;
    margin-bottom: 0;}
body.touch-device .slice-int-mod-cont .slice-slide.slice-slide-15 p {
    color: #0096D6;
    font-size: 3.25vw; }
body.touch-device .slice-int-mod-cont .slice-slide-15 .cont-cta {
    top: 120vw; }
body.touch-device .slice-int-mod-cont .slice-slide .slice-slide-copy p:not(:first-of-type) {
  padding-top: 20px; }
body.touch-device .slice-int-mod-cont .slice-slide ul {
  padding-left: 4vw;
  text-align: left;
  max-width: 55vw;
  margin-bottom: 10vw; }
body.touch-device .slice-int-mod-cont .slice-slide.slice-slide-14 ul {
  max-width: 45vw; }
body.touch-device .slice-int-mod-cont .slice-slide li {
  padding-top: 4vw;
  font-size: 4.5vw;
  line-height: 5.5vw;  
}
@media (orientation: landscape) and (max-width: 1024px) {
  body.touch-device .slice-int-mod-cont .slice-slide li {
    font-size: 2.5vw;
    line-height: 2.5vw;
  }    
}
body.touch-device .slice-int-mod-cont li:before {
  margin-left: -3vw;
  margin-right: .5vw; }
body.touch-device .slice-int-mod-cont .slice-slide:not(.show-copy) {
  transition-delay: 100ms; }
body.touch-device .slice-int-mod-cont .slice-slide.show-copy .slice-slide-copy {
  transform: translate3d(0, 0, 0) !important; }
body.touch-device .slice-int-mod-cont .slice-slide.show-copy h2:not(.anim) {
  opacity: 1;
  -webkit-transition: transform 300ms ease, opacity 150ms ease;
  -moz-transition: transform 300ms ease, opacity 150ms ease;
  -ms-transition: transform 300ms ease, opacity 150ms ease;
  -o-transition: transform 300ms ease, opacity 150ms ease;
  transition: transform 300ms ease, opacity 150ms ease; }
body.touch-device .slice-int-mod-cont .slice-slide.show-copy.high-copy {
  padding-top: 20vh;
  box-shadow: none;
  transition: transform 500ms ease, padding 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  body.touch-device .slice-int-mod-cont .slice-slide.show-copy.high-copy h2 {
    opacity: 0;
    transform: translate3d(0, -10vh, 0) !important; }
  body.touch-device .slice-int-mod-cont .slice-slide.show-copy.high-copy .slice-slide-copy {
    transform: translate3d(0, -120vh, 0) !important; }
body.touch-device .slice-int-mod-cont .slice-slide .buy-now-copy {
  transform: translate3d(0, -50vh, 0) !important;
  opacity: 0;
  position: absolute;
  width: 100vw;
  text-align: center;
  transition: transform 1000ms ease, opacity 500ms ease; }
body.touch-device .slice-int-mod-cont .slice-slide.show-copy.high-copy .buy-now-copy {
  transform: translate3d(0, -15vh, 0) !important;
  opacity: 1; }
@media (orientation: landscape) {
  body.touch-device .slice-int-mod-cont:not(.opened) .slice-mobile-stage {
    max-height: 80vh; } }
@media (orientation: landscape) and (max-width: 568px) {
  body.touch-device .slice-int-mod-cont .slice-slide-copy p, body.touch-device .slice-int-mod-cont .slice-slide-copy li {
    font-size: 3vw;
    line-height: 3.5vw; } }
@media (orientation: landscape) {
  body.touch-device .slice-int-mod-cont .slice-slide-intro {
    background-size: 75vw;
    background-position: right -13vw;
    height: 100vh; }
    body.touch-device .slice-int-mod-cont .slice-slide-intro .slice-copy-cont {
      max-width: 60vw;
      left: 20vh;
      top: 15vh;
      font-size: 5vh;
      line-height: 5.5vh; }
  body.touch-device .slice-int-mod-cont .slice-slide:not(.slice-slide-intro) {
    background-size: 74vh;
    background-position: center 13vh; }
    body.touch-device .slice-int-mod-cont .slice-slide:not(.slice-slide-intro) h2 {
      top: 30px; }
      body.touch-device .slice-int-mod-cont .slice-slide:not(.slice-slide-intro) h2:not(.anim) {
        font-size: 8vh;
        top: 20px; }
  body.touch-device #slice-module-x2 .bars-shown .slice-slide:not(.slice-slide-intro) h2 {
    top: 50px; }
    body.touch-device #slice-module-x2 .bars-shown .slice-slide:not(.slice-slide-intro) h2:not(.anim) {
      top: 40px; }
  body.touch-device .slice-int-mod-cont .slice-slide h2 {
    font-size: 5vh; }
  body.touch-device .slice-int-mod-cont .slice-slide-0 .slice-onward {
    bottom: 30px;
    width: 100vw;
    text-align: center;
    margin-top: 0;
    display: block;
    height: 15vh; }
  body.touch-device .slice-int-mod-cont .slice-scroll-on {
    display: none; }
  body.touch-device .slice-int-mod-cont .slice-slide .slice-slide-copy {
    padding: 22vw 8vw; }
  body.touch-device .slice-int-mod-cont .slice-slide.show-copy.high-copy {
    padding-left: 60vh; }
    body.touch-device .slice-int-mod-cont .slice-slide.show-copy.high-copy .buy-now-copy {
      transform: translate3d(0, 0, 0) !important;
      left: -40vh; }
  body.touch-device #slice-module-x2 .bars-shown .slice-mobile-buttons {
    bottom: 40px; }
  body.touch-device #slice-module-x2 .bars-shown .close-slice {
    top: 40px; } }

/*# sourceMappingURL=fnf-slice.css.map */
